/* Body Styling */
body {
    overflow: auto;
    font-family: 'Xolonium', sans-serif;
    background-color: #080727;
    color: white;
    margin: 0;
    padding: 0;
}

/* Header Styling */
header {
    text-align: center;
    padding: 1em 0 0;
}

@font-face {
    font-family: 'Xolonium';
    src: url('/Zytronium/fonts/Xolonium-Regular.otf');
}

/* Scrollbar track */
::-webkit-scrollbar {
    width: 10px;
    background-color: #06041a;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #4b0082, #8a2be2);
    border-radius: 6px;
}

/* Scrollbar thumb hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(90deg, #8a2be2, #9370db);
}

/* Text highlight (selection) colors */
::selection {
    background: #4b0082;
    color: white;
}

::-moz-selection {
    background: #4b0082;
    color: white;
}

/* Background Image */
.background-image {
    background-color: #080727;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    filter: blur(150px);
}

/* Introduction Section */
.intro {
    text-align: center;
    margin: 20px;
}

.profile-picture {
    border-radius: 40%;
    margin-top: 20px;
}

.intro p {
    margin: 20px 10%;
    font-size: 1.2em;
}

/* Projects Section */
.projects {
    padding: 2em;
    text-align: center;
}

.projects h2 {
    font-size: 2em;
    margin-bottom: 1em;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-item {
    background-color: #161538;
    padding: 15px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.project-item h3 a {
    color: #4a90e2;
    text-decoration: none;
}

.project-item p {
    margin-top: 10px;
    font-size: 1em;
    color: #c5c6ca;
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 1em 0;
    font-size: 0.7em;
    background-color: #0a092d;
    color: #888;
}

a {
    color: #4a90e2;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}